/* Primary #fecc00 */
/* Secondary #7a7a7a */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  --primary: #fecc00;
  --secondary: #7a7a7a;
}

.container {
  margin: auto;
  max-width: 1024px;
}

.navigation-wrapper {
  border-bottom: 1px solid #c2c2c2;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  position: fixed;
  width: 100%;
  background-color: white;
}

.main-page {
  padding-top: 150px;
}
 
.container.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.company-logo {
  width: 134px;
}

.navigation-list {
  display: flex;
}

.page-navigation .navigation-list-item {
  list-style: none;
  padding: 24px 12px;
}

.link {
  color: black;
  text-decoration: none;
  transition: color 0.1s linear;
}

.link:hover {
  color: var(--primary);
}

.page-navigation .navigation-list-item:hover {
  color: var(--primary);
}

.pointer:hover {
  cursor: pointer;
}

.icon-wrapper {
  position: relative;
}

.info-content {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-info:hover + .info-content {
  display: block;
}

.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.w-10 {
  width: 10%;
}

.w-45 {
  width: 45%;
}

h1 {
  font-size: 36px;
}

.h3 {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.section-divider {
  margin-bottom: 120px;
  margin-top: 120px;
}

.about-us-paragraph {
  margin-bottom: 30px;
}

.primary-text {
  color: var(--primary);
}

.secondary-text {
  color: var(--secondary);
}

.button {
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  float: right;
  color: white;
  transition: background-color 0.2s linear;
}

.primary-button {
  background-color: var(--primary);
}

.secondary-button {
  background-color: var(--secondary);
}

.primary-button:hover {
  cursor: pointer;
  background-color: #d6ab00;
}

.secondary-button:hover {
  background-color: #9e9e9e;
  cursor: pointer;
}

.mb-4 {
  margin-bottom: 24px;
}

.mr-5 {
  margin-right: 48px;
}

.mr-3 {
  margin-right: 12px;
}

.mb-5 {
  margin-bottom: 48px;
}

.pt-5 {
  margin-top: 48px;
}

.pb-5 {
  margin-bottom: 48px;
}

.text-center {
  text-align: center;
}

.list {
  /* remove default styles */
  list-style: none;
}

.list-item::before {
  content: "\2022";
  color: var(--primary);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  padding: none;
  margin-bottom: 12px;
}

.technologies-section {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.technology:hover .technology-image {
  transform: scale(1.3);
}

.technology-image {
  transition: transform 0.2s linear;
}

.clients-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.client-image {
  width: 17%;
  margin: 4%;
}

.footer {
  background-color: #c7c7c7;
  padding: 48px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  display: flex;
}

.footer-link {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 0.8;
}
